<body>
  <link rel="stylesheet" href="signin.css" />
  <div class="main-container">
    <div class="header">
      <div class="title"><h1>Twitch Pronouns</h1></div>
      <div class="subtitle">
        <h2>A bot and dashboard to help streamers use the correct pronouns</h2>
      </div>
    </div>
    <div class="content">
      <span onclick="window.location='/auth/twitch'" class="button">Sign In With Twitch</span>
    </div>
  </div>
</body>
